:root {
    --primary-color:#262526;
    --secondary-color: #2C3887;
    --accent1-color: #D8BC1C;
    --accent2-color: #F7F4F3;
    --heading-font: "Helvetica";
    --paragraph-font: "Arial";
}

html {
    background-color: var(--primary-color);

}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border-top: 5px double;
    border-bottom: 5px double;
    padding: 5px 0;
    text-align: center;
    display: flex;
    justify-content: center;

}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.banner-box img {
    width: 940px;
    height: 250px;
    grid-column: 1/3;
    grid-row: 1;
    border: 1px solid var(--secondary-color);
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.home-headline-1 {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
}

.home-paragraph-1 {
    grid-column: 1/9;
    grid-row: 2/3;
}

.home-img-1 {
    grid-column: 1/9;
    grid-row: 3/5;
}

.home-headline-2 {
    grid-column: 1/9;
    grid-row: 5/6;
}

.home-paragraph-2 {
    grid-column: 1/9;
    grid-row: 6/8;
}

.home-img-2 {
    grid-column: 1/9;
    grid-row: 8/10;
}

.home-headline-3 {
    grid-column: 1/9;
    grid-row: 10/11;
    text-align: center;
}

.home-paragraph-3 {
    grid-column: 1/9;
    grid-row: 11/13;
    text-align: center;
}

.home-img-1 img,
.home-img-2 img {
    
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    height: auto;

}


.motto {
    color: var(--accent2-color);
    margin-bottom: 20px;
}

p {
    font-style: var(--paragraph-font);
    color: var(--accent2-color);
}

h2 {
    font-size: 18px;
    border-top: 5px var(--secondary-color);
    border-bottom: 5px var(--secondary-color);
    padding: .5em;
}

h3 {
    font-style: var(--heading-font);
    color: var(--accent2-color);
    font-size: 22px;
    text-align: center;
    border-top: 5px double var(--secondary-color);
    border-bottom: 5px double var(--secondary-color);
    padding: .5em;
}

footer {
    color: var(--accent1-color);
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-top: 5px double var(--accent2-color);
    border-bottom: 5px double var(--accent2-color);
}

nav {
    background-color: var(--accent1-color);
    text-align: center;
    line-height: 1rem;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
}

nav a {
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--primary-color);

}

.footer-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.site-plan-link {
    grid-column: 5/6;
    grid-row: 1/4;
}
.site-plan-link img{
    width: 50px;
}

.footer-copyright-1 {
    grid-column: 1/3;
    grid-row: 2/3;

}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
    }
}

main,
header,
nav,
footer {
    max-width: 940px;
    margin: 0 auto;
}

.fun-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.fun-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.fun-paragraph-1 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.fun-img-1 {
    grid-column: 4/6;
    grid-row: 1/7;
}

.fun-img-1 img,
.fun-img-2 img {
    width: 100%;
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    height: auto;
}

.fun-headline-2 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.fun-paragraph-2 {
    grid-column: 1/4;
    grid-row: 4/6;
}

.fun-headline-3 {
    grid-column: 3/6;
    grid-row: 8/9;
}

.fun-paragraph-3 {
    grid-column: 3/6;
    grid-row: 9/10;
}
.fun-img-2 {
    grid-column: 1/3;
    grid-row: 8/12;
}  

.fun-paragraph-1,
.fun-paragraph-2,
.fun-paragraph-3 {
    font-size: 16px;
}

.fun-headline-1,
.fun-headline-2,
.fun-headline-3 {
    font-size: 22px;
}

.productive-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.productive-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.productive-paragraph-1 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.productive-headline-2 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.productive-paragraph-2 {
    grid-column: 1/4;
    grid-row: 4/5;
}

.productive-img-1 {
    grid-column: 4/5;
    grid-row: 1/7;
}

.productive-headline-3 {
    grid-column: 1/4;
    grid-row: 5/6;
}

.productive-paragraph-3 {
    grid-column: 1/4;
    grid-row: 6/7;
}

.productive-img-1 img{
    width: 100%;
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    height: auto;
}

.productive-paragraph-1,
.productive-paragraph-2,
.productive-paragraph-3{
    font-size: 16px;
}

.productive-headline-1,
.productive-headline-2,
.productive-headline-3 {
    font-size: 22px;
}
.suggestion-box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.suggestion-box-form {
    grid-column: 1/4;
    grid-row: 1/2;
}
form {
    grid-column: 3/4;
    grid-row: 4/5;
}
.suggestion-box-img-1 {
    grid-column: 1/3;
    grid-row: 2/6;
}
.form-name, .form-email, .form-msg {
    color: white;
}
form {
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form>ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  #feedback { 
    text-align: center;
    font-size: 25px;
    font-style: helvetica;
    text-decoration: underline;
    padding: 30px;
    color: red;
    display: none; /* we will make the element invisible until the form is submitted successfully */
   }