@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

:root {
    --primary-color: #84828F;
    --secondary-color: #5F5199;
    --accent1-color: #E7C24F;
    --accent2-color: #F7F4F3;
    --heading-font: "Merienda";
    --paragraph-font: "Lato";
}

html {
    background-color: var(--primary-color);
}

body {
    background-color: var(--secondary-color);
    max-width: 960px;
    text-align: center;
    padding:0 center;
    margin:0 auto;
    font-size: 16px;
}

p {
    font-style: var(--paragraph-font);
    color: var(--accent2-color);
    font-size: 1.25rem;
    align-content: center;
    padding: .25rem;
    padding-left: 10rem;
    padding-right: 10rem;

}

h1,
h2 {
    font-style: var(--heading-font);
    color: var(--accent2-color);
    text-decoration: underline;
    font-size: 2rem;
    padding-block: 1px;
}

footer {
    text-align: left;
    color: var(--accent2-color);
    font-size: .75rem;
}

nav {
    background-color: var(--primary-color);
    line-height: 1rem;
    font-size: 1.2rem;
    text-align: auto;
    padding-right: 2.5rem;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
    text-align: auto;
}

nav a {
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);

}