@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

:root {
    --primary-color: #84828F;
    --secondary-color: #5F5199;
    --accent1-color: #E7C24F;
    --accent2-color: #F7F4F3;
    --heading-font: "Merienda";
    --paragraph-font: "Lato";
}

html {
    background-color: var(--primary-color);

}

body {
    font-size: 20px;
    font-family: "Merienda", "Lato", sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border-top: 5px double;
    border-bottom: 5px double;
    text-decoration: underline;
    padding: 5px 0;
    text-align: center;
    display: flex;
    justify-content: center;

}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.banner-box img {
    width: 940px;
    height: 250px;
    grid-column: 1/3;
    grid-row: 1;
    border: 1px solid var(--secondary-color);
}

.action {
    color: var(--accent2-color);
    border-top: 5px double;
    border-bottom: 5px double;
    background-color: rgb(95, 81, 153, .5);
    margin: 1em 3em;
    padding: 1em;
    margin-bottom: 5em;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--accent1-color);
    font-size: 1.2em;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.home-headline-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.home-paragraph-1 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.home-right-img {
    grid-column: 4/6;
    grid-row: 1/3;
}

.home-headline-2 {
    grid-column: 3/6;
    grid-row: 4/5;
}

.home-paragraph-2 {
    grid-column: 4/6;
    grid-row: 5/7;
}

.home-left-img {
    grid-column: 1/3;
    grid-row: 4/6;
}

.home-headline-3 {
    grid-column: 1/6;
    grid-row: 6/7;
    text-align: center;
}

.home-paragraph-3 {
    grid-column: 1/6;
    grid-row: 7/9;
    text-align: center;
}

.home-right-img img,
.home-left-img img {
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    max-height: auto;

}

.heading {
    padding-left: 2rem;
}

.motto {
    color: var(--accent2-color);
}

p {
    font-style: var(--paragraph-font);
    color: var(--accent2-color);
    font-size: 1.25rem;
}

h2 {
    font-style: var(--heading-font);
    color: var(--accent2-color);
    font-size: 2rem;
    border-top: 5px double var(--secondary-color);
    border-bottom: 5px double var(--secondary-color);
    padding: .5em;
}

footer {
    color: var(--accent1-color);
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-top: 5px double var(--accent2-color);
    border-bottom: 5px double var(--accent2-color);
}

nav {
    background-color: var(--accent1-color);
    text-align: center;
    line-height: 1rem;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
}

nav a {
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--primary-color);

}

.footer-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.social {
    grid-column: 5/6;
    grid-row: 1/2;
}

.footer-copyright-1 {
    grid-column: 1/3;
    grid-row: 1/2;

}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
    }
}

main,
header,
nav,
footer {
    max-width: 940px;
    margin: 0 auto;
}
.trips-title{
    text-align: center;
}
.trips-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.trips-headline-1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.trips-paragraph-1 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.trips-img-1 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.trips-img-1 img,
.trips-img-2 img,
.trips-img-3 img {
    width: 100%;
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    max-height: auto;
}

.trips-headline-2 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.trips-paragraph-2 {
    grid-column: 1/3;
    grid-row: 4/6;
}

.trips-img-2 {
    grid-column: 3/4;
    grid-row: 4/6;
}

.trips-headline-3 {
    grid-column: 1/3;
    grid-row: 6/7;
}

.trips-paragraph-3 {
    grid-column: 1/3;
    grid-row: 7/9;
}

.trips-img-3 {
    grid-column: 3/4;
    grid-row: 7/9;
}

.trips-paragraph-1,
.trips-paragraph-2,
.trips-paragraph-3 {
    font-size: 14px;
}

.trips-headline-1,
.trips-headline-2,
.trips-headline-3 {
    font-size: 22px;
}
.faqs-title{
    text-align: center;
}
.faqs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.faqs-headline-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.faqs-paragraph-1 {
    grid-column: 1/2;
    grid-row: 2/4;
}

.faqs-headline-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.faqs-paragraph-2 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.faqs-img-1 {
    grid-column: 1/3;
    grid-row: 4/5;
}

.faqs-headline-3 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.faqs-paragraph-3 {
    grid-column: 1/2;
    grid-row: 6/8;
}

.faqs-headline-4 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.faqs-paragraph-4 {
    grid-column: 2/3;
    grid-row: 6/8;
}

.faqs-img-2 {
    grid-column: 1/3;
    grid-row: 8/9;
}

.faqs-img-1 img,
.faqs-img-2 img {
    width: 100%;
    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 5px var(--accent1-color);
    max-width: 100%;
    max-height: auto;
}

.faqs-paragraph-1,
.faqs-paragraph-2,
.faqs-paragraph-3,
.faqs-paragraph-4 {
    font-size: 14px;
}

.faqs-headline-1,
.faqs-headline-2,
.faqs-headline-3,
.faqs-headline-4 {
    font-size: 22px;
}